.Desc {
    color: #8c8c8c;
}

.bottomBorder{
    border-bottom: 5px solid rgba(36, 36, 36, 0.753);
}

@media only screen and (max-width: 576px) {
    .centerMainItem {
        text-align: center;
    }
    .readBtn {
        display: flex;
        justify-content: center;
    }
}