/* .containImg {
    display: flex;
} */

.typeOffDesc {
    color: #8c8c8c;
}

.typeOffTitle {
    margin-top: 18px;
}

@media only screen and (max-width: 576px) {
    .typeOffDesc {
        text-align: center;
    }
    .typeOffTitle {
        text-align: center;
        padding-left: 0px;
    }
    .readBtn {
        display: flex;
        justify-content: center;
    }
}